body {
    background-color: black;
}
h1 {
    text-align: center;
    color: white;
}
h2 {
    text-align: center;
    color: rgb(160, 160, 160);
}
header {
    text-align: center;
    color: white;
}