html {
    color-scheme: dark;
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    color: rgb(160, 160, 160);
}

header {
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

img {
    width: 2vw;
    height: 2vw;
    margin: 1vw;
}
main {
    overflow: auto;
    height: 50vh;
}
hr {
    margin-top: 5vh;
    margin-bottom: 5vh;
}
#page {
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    transform: scale(100%);
    transition: transform 0.2s ease-out;
    color: white;

}

#page:hover {
    transform: scale(120%);
        border-color: azure;
    border-style: solid;
    border-width: 1px;
}

#scarry {
    width: 10vw;
}
