html {
    color-scheme: dark;
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    font-size: 400%;
    margin-bottom: 0%;
}

h2 {
    text-align: center;
    font-size: 200%;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.flexItem {
    width: 33.3%;
}

.expandButton {
    margin-top: 3%;
    color: rgb(255, 255, 255);
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-size: 400%;
    cursor: pointer;
    position: relative;
}

.expandButton:after {
    display: block;
    content: '';
    border-bottom: solid 3px #ffffff;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.expandButton:hover:after {
    transform: scaleX(1);
}