@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
html {
    color-scheme: dark;    
    background-color: black;
    color: white;
}
a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
}
footer {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 97%;
    height: 6vh;
    padding: 10px;
    border: 2px solid rgb(165, 165, 165);
    border-radius: 10px;
    justify-content: center;
    display: none;
}
#logo {
    width: 3vw;
    height: 3vw;
    background-color: aqua;
}
#programms {
    width: 3vw;
    height: 3vw;
    background-color: aqua;
}
#menu {
    position: fixed;
    background-color: aquamarine;
    height: 60%;
    width: 30%;
    bottom: 12vh; 
    border: 2px solid gray;
    border-radius: 10px;
    animation: fadeIn 1s;
    display: none;
    padding: 100px;
    display: flex;
}