html {
    color-scheme: light;
    background-color: white;
    color: black;

    scroll-behavior: smooth;
}

body{
    font-family: heavenly;
    font-size: 2em;
    background-image: url('./img/hell.webp');
    background-size: 100%;
}

h1 {
    font-size: 6em;
    margin: 0;
    text-align: center;
    color: black;
}

h2 {
    text-align: center;
    color: rgb(45, 43, 43);
}

header {
    text-align: center;
    color: black;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    letter-spacing: 3px;
}

img {
    width: 2vw;
    height: 2vw;
    margin: 1vw;
}
main {
    height: 50vh;
}
hr {
    margin-top: 5vh;
    margin-bottom: 5vh;
}
#page {
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    transform: scale(100%);
    transition: transform 0.2s ease-out;
    color: black;

}

#page:hover {
    transform: scale(120%);
        border-color: black;
    border-style: solid;
    border-width: 1px;
}

#holy {
    width: 10vw;
    height: 20vh;
}


#trumpet-angel1, #trumpet-angel2{
    width: 20vw;
    height: 20vw;
    position: fixed;
    top: 70vh;
}
#trumpet-angel2{
    transform: scaleX(-1);
    left: 77vw;
}
#portal{
    position: relative;
    margin-left: 40%;
}
.daFunny{
    z-index: 1;
    opacity: 100;
    rotate: 350deg;
    position: absolute;
    margin-left: 95%;
    margin-top: 80%;
}
.daFunny   img{
    width: 100%;
}
@font-face{
    src: url('./img/Heavenly\ Script.otf');
    font-family: heavenly;
}